<!DOCTYPE html>
<html lang="es">

{{> Head}}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img id="nav-logo" src="/assets/img/logo.png" alt="logo-img" width="40">
                SKATE PARK
            </a>
            <button id="btn-navbar" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span id="btn-navbar" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Iniciar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {{> Header}}
    
    <div class="py-4 container body-page">
        <h1 class="h2 titulo">Participantes</h1>

        <hr class="w-50 mx-auto" />

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Años de experiencia</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tabla_skaters">
                    <th scope="row">1</th>
                    <td>
                        <div></div>
                    </td>
                    <td>Tony Hawk</td>
                    <td>12</td>
                    <td>Kickflip</td>
                    <td class="text-success font-weight-bold">Aprobado</td>
                </tr>
                <tr class="tabla_skaters">
                    <th scope="row">2</th>
                    <td>
                        <div></div>
                    </td>
                    <td>Evelien Bouilliart</td>
                    <td>10</td>
                    <td>Heelflip</td>
                    <td class="text-success font-weight-bold">Aprobado</td>
                </tr>
                <tr class="tabla_skaters">
                    <th scope="row">3</th>
                    <td>
                        <div></div>
                    </td>
                    <td>Danny Way</td>
                    <td>8</td>
                    <td>Ollie</td>
                    <td class="text-warning font-weight-bold">En revisión</td>
                </tr>
                {{#each skaters}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>
                        <div style="background-image: url('/imgs/{{this.foto}}');"></div>
                    </td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.anos_experiencia}}</td>
                    <td>{{this.especialidad}}</td>
                    <td {{#if this.estado}} class="text-success font-weight-bold" {{else}}
                        class="text-warning font-weight-bold" {{/if}}>{{#if this.estado}} Aprobado {{else}} En revision
                        {{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{> Footer}}
    {{> BodyCDN}}
</body>

</html>